.container{
    
    width: 400px;
    height: 600px;
    margin: 0 auto;
    outline: 2px solid green;
}

.parent{
    height: 150px;
    width: 200px;
    background-color: #ffafe4;
    position: relative;

}

.child{
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 100px;
    width: 100px;
    background:  #117864 ;

}