@charset "utf-8";
/* CSS Document */
/*==============================*/
/*=====   Responsive css  =====*/
/*============================*/

/*-----------------    max-width 1300px  -----------*/
@media(max-width: 1140px){
.container {
  width: auto;
}
section.aboutus .about .testimonial {
  padding-left: 45px;
}
}


/*-----------------    max-width 1200px of BootStrap 1st Break  -----------*/
@media(max-width: 1199px){

}
/*-----------------    max-width 1024px   -----------*/
@media(max-width: 1024px){
section.aboutus .about .testimonial {
  padding-left: 30px;
}
footer.footer a {
  margin: 0 25px;
}
}

/*-----------------    max-width 992px of BootStrap 2nd Break  -----------*/
@media(max-width: 992px){
header,section{padding:50px 0 !important}
header .welcome-bx {
  padding: 50px 0 0;
}
section .members {
  padding-top: 0;
}
section .members .member-photo {
  height: auto;
  padding: 30px 0;
}
section .skill {
  padding-top: 0;
}
section.aboutus .about {
  padding: 50px 0 0;
}
h1 {
  font-size: 2em;
}
section .members .member-photo span img,
section .skill .skill-bar span img {
  margin: 0 auto;
  width: 100%;
}
section .members .member-info a {
  margin: 0 1px;
}
section.aboutus .about .testimonial {
  padding-left: 15px;
  width: 70%;
}
footer.footer a {
	margin:0 15px;
	font-size: 1.2em;
}
}

/*-----------------    max-width 767px of BootStrap 3rd Break  -----------*/
@media(max-width: 767px){
body {
  font-size: 14px;
  line-height: 18px;
}
.navbar-collapse{padding:0}
header .navbar {
  float: none;
  padding: 10px 0;
}
header .navbar li {
  float: none;
  text-align: left;
}
section .members .member-photo span img, section .skill .skill-bar span img {
	width:auto
}
footer.footer a {
  font-size: 1.1em;
  margin: 0 10px;
}
}

/*-----------------    max-width 639px   -----------*/
@media(max-width: 639px){
h1 {
  font-size: 1.8em;
  line-height: 30px;
}
h2 {
  font-size: 2.1em;
}
section .section-title p{padding:15px 15px 0}
section .services .services-icons {
  height: 200px;
}
}

/*-----------------    max-width 479px   -----------*/
@media(max-width: 479px){
h2 {
  font-size: 1.5em;
}
section.portfolio .tabs a {
  display: block;
  margin: 4px 7px;
}
section.aboutus .about .circle {
  float: none;
}
section.aboutus .about .testimonial {
  float: none;
  width: auto;
  padding: 15px 0;
}
section.aboutus .about span img{margin:0 auto}
section.aboutus .about {
  padding: 20px 0;
}
}

/*-----------------    max-width 359px   -----------*/
@media(max-width: 359px){

}

/*-----------------    max-width 320px   -----------*/
@media(max-width: 320px){

}